<strong>Ol치, {{ providerName}} 游릭游릭游릭</strong>
<p>Voc칡 tem um novo agendamento, confira os datalhes abaixo:</p>
<p>
	<strong>Cliente: </strong> {{ client }} <br />
	<strong>Telefone: </strong> {{ phone }} <br />
	<strong>Endere칞o: </strong> {{ address }} <br />
	<strong>Data/hora: </strong> {{ appointmentDate }} <br />
	<strong>Servi칞os: </strong> {{ services }} <br />
	<strong>Valor total: </strong> {{ totalPrices }} <br />
	<strong>Quantidade: </strong> {{ totalQuantities }} <br />
	<br />
</p>
