<strong>Olá, {{ providerName}} </strong>
<p>Você tem um novo agendamento, confira os datalhes abaixo:</p>
<p>
	<strong>Cliente: </strong> {{ client }} <br />
	<strong>Endereço: </strong> {{ address }} <br />
	<strong>Telefone: </strong> {{ phones }} <br />
	<strong>Data/hora: </strong> {{ appointmentDate }} <br />
	<strong>Serviços: </strong> {{ services }} <br />
	<strong>Total: </strong> {{ total }} <br />
	<br />
</p>
