<strong>Ol치, {{ providerName}} 游릭游릭游릭</strong>
<p>Voc칡 tem um novo agendamento, confira os datalhes abaixo:</p>
<p>
	<strong>Cliente: </strong> {{ client }} <br />
	<strong>Endere칞o: </strong> {{ address }} <br />
	<strong>Telefone: </strong> {{ phones }} <br />
	<strong>Data/hora: </strong> {{ appointmentDate }} <br />
	<strong>Servi칞os: </strong> {{ services }} <br />
	<strong>Total: </strong> {{ total }} <br />
	<br />
</p>
