<strong>Olá {{ provider }}</strong>
<p>Você tem um novo atendimento disponível</p>
<p>Confira os detalhes abaixo:</p>
<p>
	<strong>Data: </strong> {{ date }} <br />
	<strong>Cliente: </strong> {{ user }} <br />
	<br />
	<strong>Telefone: </strong> {{ phone }} <br />
	<strong>Endereço:</strong> <br />
		<strong>Cidade: </strong> {{ city }}, - {{ state }} <br />
		<strong>Rua: </strong> {{ street }}, Nº {{ number }} <br />
		<strong>Bairro:</strong>{{ district }}
		<strong>CEP: </strong> {{ zipcode }}
</p>
<p>
	<small>
		Obs.: Em caso de impossibilidade de atendimento favor entrar em contato com o cliente .
	</small>
</p>
