<strong>Olá, {{ user }}</strong>
<p>Seja muito bem vindo à Jack Hair & Barber. Abaixo os seus dados:</p>
<p>
    <strong>Data do Agendamento: </strong> {{ date }} <br>
		<strongo>Profissional:</strong> {{ provider }} <br>
    {{!-- <strong>Serviço: </strong> {{ service }} <br> --}}
    {{!-- <strong>Valor total: </strong> R$ {{ total }} <br> --}}
    <br>
        Aguardamos você!!
</p>
